@model MasVidaWebMVC.User

@{
    ViewBag.Title = "CambiarPassword";
}

<h2>CambiarPassword</h2>

@using (Html.BeginForm()){
    @Html.ValidationSummary(true)


    <fieldset>
        <legend>Cambiar Password</legend>
        @Html.HiddenFor(model => Model.UserID)

        @Html.HiddenFor(model => Model.Name)
        
        @Html.HiddenFor(model => Model.LastName)
        
        @Html.HiddenFor(model => Model.DNI)
        
        @Html.HiddenFor(model => Model.Address)
        
        @Html.HiddenFor(model => Model.Email)
        
        @Html.HiddenFor(model => Model.Phone)
        
        @Html.HiddenFor(model => Model.Birthday)
        
        @Html.HiddenFor(model => Model.UserName)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.UserPassword)
            @Html.ValidationMessageFor(model => model.UserPassword)
        </div>
        
        @Html.HiddenFor(model => Model.ProductID)
        
        @Html.HiddenFor(model => Model.IsActive)
        
        @Html.HiddenFor(model => Model.UserTypeID)
        
        @Html.HiddenFor(model => Model.FamilyGroupID)
        
        @Html.HiddenFor(model => Model.CreationDateTime)
        
        @Html.HiddenFor(model => Model.LastTransactionID)

        @Html.HiddenFor(model => Model.AccountTotal)

        <p>
            <br />
            <input type="submit" value="Guardar" class="btn btn-success"/> |
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
        </p>

    </fieldset>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}