@model IEnumerable<MasVidaWebMVC.Resource>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create",null,new { @class= "btn btn-primary"})
</p>
<table class="table table-hover">
    <tr>
        <th>
            Nombre de Recurso
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ControllerName)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ControllerID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Detalles", "Details", new { id = item.ControllerID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ControllerID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
