@model MasVidaWebMVC.Product

@{
    ViewBag.Title = "Productos";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<fieldset>
    <legend>Producto</legend>

    <div class="display-label">
        <strong>Producto</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
        <strong>Descripción</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductDescription)
    </div>

    <div class="display-label">
        <strong>Precio</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductPrice)
    </div>

    <div class="display-label">
        <strong>Activo</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <br />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
    </p>
}
