@model MasVidaWebMVC.Transaction

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Transacción</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductName,"Nombre de Producto")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductName)
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductPrice,"Precio de Producto")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductPrice)
            @Html.ValidationMessageFor(model => model.ProductPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionCreationDate, "Fecha de Creación de Transacción")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionCreationDate)
            @Html.ValidationMessageFor(model => model.TransactionCreationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionPaymentDate,"Fecha de Pago de Transacción")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionPaymentDate)
            @Html.ValidationMessageFor(model => model.TransactionPaymentDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsPaid,"Pagado")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsPaid)
            @Html.ValidationMessageFor(model => model.IsPaid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionTypeID, "Tipo de Transacción")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TransactionTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.TransactionTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductID, "Producto")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductID", String.Empty)
            @Html.ValidationMessageFor(model => model.ProductID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID, "Usario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserID", String.Empty)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>
        <br />
        <p>
            <input type="submit" value="Crear" class="btn btn-success" />
            | @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
