@model MasVidaWebMVC.Transaction

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>
<h3>¿Está seguro que quiere eliminar esto?</h3>
<fieldset>
    <legend>Transacción</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionCreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionCreationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionPaymentDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionPaymentDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsPaid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPaid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionType.TransactionTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionType.TransactionTypeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Product.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Users.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Users.Name)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <br />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
    </p>
}
