@*@model MasVidaWebMVC.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Transaction</legend>

    <div class="display-label">
        <strong>Nombre de Producto</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
        <strong>Precio de Producto</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductPrice)
    </div>

    <div class="display-label">
         <strong>Fecha de Creación de la transacción</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionCreationDate)
    </div>

    <div class="display-label">
        <strong>Fecha Pago Transacción</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionPaymentDate)
    </div>

    <div class="display-label">
        <strong>Pagado</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPaid)
    </div>

    <div class="display-label">
        <strong>Nombroducto</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionType.TransactionTypeName)
    </div>

    <div class="display-label">
         <strong>Nombroducto</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Users.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Users.Name)
    </div>
</fieldset>
<br />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TransactionID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
</p>*@