@model IEnumerable<MasVidaWebMVC.FamilyGroup>

@{
    ViewBag.Title = "Grupos Familiares - Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            Familia
        </th>
        <th>Herramientas</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyName)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FamilyGroupID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Detalles", "Details", new { id=item.FamilyGroupID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.FamilyGroupID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
